/* ---------------------------- Menú desplegable ------------------------- */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 0.75rem 1rem;
  }
  
  .dropdown-content li a {
    color: black;
  }
  
  .dropdown-content li {
    padding: 0.625rem;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Esto lo que hace es que la barra de navegacion este toda alineada con la imagen y los links esten del todo a la derecha*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav div ul {
    justify-content: flex-end;
  }
  
  nav ul li {
    position: relative;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0.625rem 0 0;
    display: flex;
    gap: 20px;
  }

  /* grid */

.row {
  overflow: hidden;
}

.col-1 {
  width: 8.3%;
  float: left;
}

.col-2 {
  width: 16.66%;
  float: left;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-4 {
  width: 33.33%;
  float: left;
}

.col-5 {
  width: 41.66%;
  float: left;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-7 {
  width: 58.33%;
  float: left;
}

.col-8 {
  width: 66.66%;
  float: left;
}

.col-9 {
  width: 75%;
  float: left;
}

.col-10 {
  width: 83.33%;
  float: left;
}

.col-11 {
  width: 91.66%;
  float: left;
}

.col-12 {
  width: 100%;
  float: left;
}