*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 16px;
}

body{
  font-family: "Roboto", sans-serif;
  color: rgb(48, 45, 45);
  background-color: rgb(74, 84, 224)
}

.container {
  width: 100%;
  max-width: 1980px;
  margin: 0 auto;
}

  /* Esto lo que hace es que la barra de navegacion este toda alineada con la imagen y los links esten del todo a la derecha*/
#main-header{
  background-color: rgb(121,169,233);
  position: relative;
}

#main-header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-header h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
}

.main-menu > ul{
  display: flex;
  justify-content: center;

  li {
    list-style: none;
  }

  a{
    margin: 0.75rem;
    text-decoration: none;
    color: white;
  }
}

.title-links {
  margin: 40px;
  position: absolute;
  top: -20px;
}

#banner-home {
  width: 100%;
}