/*declaracion de variables en css*/

:root {
  --main-white:white;
  --main-lightblue: #79A9E9;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 16px;
}

body{
  font-family: "Roboto", sans-serif;
  color: rgb(48, 45, 45);
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;

}

.container-1200 {
  max-width: 1200px;
  margin: 0 auto;

}

.efecto {
  background-image: url(img/efecto-papel.png);
  mask: linear-gradient(to top, #000 80%, transparent 100%);
  -webkit-mask: linear-gradient(to top, #000 80%, transparent 100%);
  
}

/* .deg {
  background-image: linear-gradient(
    to bottom, 
    #F2F1F0,
    #D9CFCC

  );
} */

  /* Esto lo que hace es que la barra de navegacion este toda alineada con la imagen y los links esten del todo a la derecha*/
#main-header{
  background-image: url(img/banner-webfull.png);
  background-color: var(--main-lightblue);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  mask: linear-gradient(to bottom, #000 80%, transparent 100%);
  -webkit-mask: linear-gradient(to bottom, #000 80%, transparent 100%);
}

#main-header > div, #header-productos > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-header h1, #header-productos h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
}

.main-menu > ul{
  display: flex;
  justify-content: center;

  li {
    list-style: none;
  }

  a{
    margin: 0.75rem;
    text-decoration: none;
    color: white;
  }
}

.margin-20  {
  margin: 20px;
}

/* para el degradado*/

.fondo-degradado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; 
  background-color: #F2F1F0; 
  transition: background-color 1.0s ease-in-out;
}

.section {
  height: 100vh; 
  background-color: transparent;
}

/* #banner-home {
  height: calc(100vh - 150px);
  align-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */

.sobre-nosotros {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

.sobre-nosotros > div {
  width: 391px;
  height: 221px;
  left: 691px;
  top: calc(50% - 221px/2 + 0.5px);
  margin-left: 90px;
}

.title-section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
  margin-bottom: 20px;
  padding: 10px;
}

.ver-mas{
  display: flex;
  text-decoration: underline;
  justify-content: end;
  color: var(--main-white);
  margin-top: 20px;
}

.section #new {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
  margin-top: 20px;
}

.section .sobre-nosotros img {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

.sombra {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
  transition: 0.5s;
}

.sombra:hover {
  transform: scale(1.05);
  z-index: 10;
}

.bgd-image {
  background-image: url(img/footer.png);
  background-repeat: no-repeat;
  background-size:cover;
}

#iconos {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  
  figure img {
    margin: 10px;
  }
}

#footer-main p{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  color: var(--main-white);
}

.contact-efect {
  background-color: #f4f1e9;
  background-image: url(img/fibras.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/* 
.contact-bkg {
  background-image: url(img/fibras.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */

.contact-bkg {
  background-image: url(img/contact-fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

 /* Esto lo que hace es que la barra de navegacion este toda alineada con la imagen y los links esten del todo a la derecha*/

#contact-header > div, #header-productos > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-header h1, #header-productos h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(48, 45, 45);
  font-size: 4rem;
}

.main-menu > ul{
  display: flex;
  justify-content: center;

  li {
    list-style: none;
  }

  a{
    margin: 0.75rem;
    text-decoration: none;
    color: rgb(48, 45, 45);
  }
}

.margin-20  {
  margin: 20px;
}

.col-2{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  > div{
    margin: 50px 20px 50px 20px;
  }
}

#iconos-contact {
  display: flex;
  margin: 0 auto;
  align-items: center;
  filter: invert();
  
  figure img {
    margin-right: 10px;
  }
}
