/*declaracion de variables en css*/

:root {
  --main-white: white;
  --main-lightblue: #79a9e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  color: rgb(48, 45, 45);
}

h2 {
  font-weight: 400;
  font-size: 2rem;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.container-1200 {
  width: 80%;
  max-width: 1200px;
  gap: 50px;
  margin: 0 auto;
}

.fondo-home {
  background-image: url(img/fondo-home.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#main-header{
  position: relative;
  width: 100%;
  height: 100vh;
}

#main-header>div:first-child {
  background-color: var(--main-lightblue);
  position: relative;
  z-index: 10;
}

/* Esto lo que hace es que la barra de navegacion este toda alineada con la imagen y los links esten del todo a la derecha*/

.banner {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.banner img {
  width: 99vw;
  /* background-image: url(img/banner-webfull.png);
  background-color: var(--main-lightblue);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  mask: linear-gradient(to bottom, #000 80%, transparent 100%);
  -webkit-mask: linear-gradient(to bottom, #000 80%, transparent 100%); */
}

#main-header>div,
#header-productos>div,
#header-contact>div,
#header-about>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-header h1,
#header-productos h1,
#header-about h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
  font-family: "Impact";
  font-style: normal;
}

.main-menu {
  z-index: 999;
}

.main-menu>ul {
  display: flex;
  justify-content: center;

  li {
    list-style: none;
  }

  a {
    margin: 0.75rem;
    text-decoration: none;
    color: white;
    font-family: "Impact";
    font-style: normal;
  }
}

.margin-20 {
  margin: 20px;
}

/* para el degradado*/

.sobre-nosotros {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  font-family: "Alata", sans-serif;
  color: #956166;
  margin-top: 20%;
}

.sobre-nosotros>div {
  width: 391px;
  height: 221px;
  left: 691px;
  top: calc(50% - 221px / 2 + 0.5px);
  margin-left: 90px;
}

.boton {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.ver-mas {
  background-color: #9b6162;
  color: var(--main-white);
  font-weight: bold;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Alata", sans-serif;
}

.section .sobre-nosotros img {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

#new .figuras-productos,
#old .figuras-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 50px;
}

#old>h2 {
  padding-top: 100px;
  color: #545369;
}

#old .figuras-productos {
  gap: 60px;
}

.boton-2 {
  display: flex;
  justify-content: flex-end;
}

.boton-2>a {
  background-color: #fff;
  color: #4b4e66;
  font-weight: bold;
  border: none;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Alata", sans-serif;
}

.bgd-image {
  background-image: url(img/footer-home.png);
  background-repeat: no-repeat;
  background-size: auto;
}

#iconos {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  figure img {
    margin: 10px;
  }
}

#footer-home .container-1200 {
  margin-bottom: 20px;
  width: 100%;
}

#footer-home .container-1200 h2 {
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  font-family: "Alata", sans-serif;
  color: var(--main-white);
  font-size: 3rem;
}

/*CONTACT*/

#header-contact {
  flex-shrink: 0;
}

#header-contact h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(48, 45, 45);
  font-size: 4rem;
  font-family: "Impact";
  font-style: normal;
}

.menu-contact>ul {
  display: flex;
  justify-content: center;

  li {
    list-style: none;
  }

  a {
    margin: 0.75rem;
    text-decoration: none;
    color: rgb(48, 45, 45);
    font-family: "Impact";
    font-style: normal;
  }
}

#bgd-contact {
  background-image: url(img/contact-fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(48, 45, 45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: auto;
}

#main-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.info-contact h2 {
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Alata", sans-serif;
}

#iconos-contact {
  margin: 5px 0 30px 0;
  display: flex;
  gap: 20px;
  filter: invert(95%);
}

#iconos-contact a {
  transition: 0.2s;
}

#iconos-contact a:hover {
  transform: scale(1.05);
}

.info-alumno {
  font-family: "Alata", sans-serif;
}

form {
  display: flex;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.col {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.full {
  grid-column: span 2;
}

label {
  font-family: "Alata", sans-serif;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

#name,
#last-name,
#email,
#coleccion,
#edad,
#message {
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.full-2 {
  grid-column: 1fr;
}

textarea {
  resize: none;
}

.boton {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.boton>button {
  background-color: #fff;
  color: #4b4e66;
  font-weight: bold;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Alata", sans-serif;
}

button:hover {
  background-color: #f0f0f0;
}

/* PRODUCTOS */

#header-productos {
  position: relative;
  z-index: 10;
}

#menu-productos {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--main-white);
}

#menu-productos>ul {
  display: flex;
  justify-content: center;

  li {
    margin: 20px 20px;
    list-style: none;
  }

  a {
    margin: 20px 50px;
    text-decoration: none;
    color: rgb(48, 45, 45);
    font-family: "Alata", sans-serif;
  }
}

.start {
  position: relative;
  height: 100vh;
}

.deg {
  padding-top: 50px;
  background-image: url(img/gradiente-fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /* background: #F2F1F0;
  background: linear-gradient(180deg, rgba(242, 241, 240, 1) 0%, rgba(217, 207, 204, 1) 4%, rgba(191, 157, 149, 1) 11%, rgba(217, 192, 163, 1) 16%, rgba(242, 242, 242, 1) 21%, rgba(189, 176, 217, 1) 25%, rgba(131, 115, 191, 1) 33%, rgba(79, 63, 115, 1) 39%, rgba(242, 213, 196, 1) 49%, rgba(166, 146, 134, 1) 53%, rgba(89, 72, 66, 1) 64%, rgba(140, 138, 108, 1) 79%, rgba(88, 89, 60, 1) 89%, rgba(247, 226, 225, 1) 100%); */
}

#warmth,
#sound,
#reality,
#blossom {
  scroll-margin-top: 100px;
  transition: 0.5s;
}


#warmth>h2,
#sound>h2,
#reality>h2,
#blossom>h2,
#sobre-nosotros>h2,
#new>h2,
#old>h2 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-family: "Alata", sans-serif;
  font-size: 2rem;
}

#new>h2 {
  margin-top: 50px;
  color: #985c67;
}

#warmth>h2 {
  color: #ba9f99;
}

#sound>h2 {
  color: #7e5a99;
}

#reality>h2 {
  color: #5e4b42;
}

#blossom>h2 {
  color: #fefdf0;
}

.figuras-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.figuras-productos figure {
  grid-column: span 1;
  transition: 0.5s;
}

.figuras-productos figure:hover {
  transform: scale(1.1);
}

.figuras-productos figure img {
  width: 100%;
  height: auto;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

.figuras-productos figure h3 {
  text-align: center;
  margin-top: 10px;
  font-family: "Alata", sans-serif;
  color: var(--main-white);
  font-weight: 400;
}

.figura-info {
  max-width: 70%;
  margin: 0 auto 100px auto;
}

.figura-info figure {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Alata", sans-serif;
  gap: 40px;
}

.figura-info figure p {
  text-align: justify;
}

#sound .figura-info figure>p {
  color: var(--main-white);
}

#reality .figura-info figure>p {
  color: var(--main-white);
}

#blossom .figura-info figure>p {
  color: var(--main-white);
}

.launch {
  display: block;
  margin-top: 20px;

}

#blossom .figura-info figure>p,
#warmth .figura-info figure>p,
#sound .figura-info figure>p,
#reality .figura-info figure>p {
  min-width: 300px;
}

/* CARROUSEL*/

#carrousel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
}

#carrusel-videos {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
}

.carrusel-track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carrusel-slide {
  min-width: 100%;
  height: 100%;
}

.carrusel-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carrusel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.dot.active {
  background-color: white;
  transform: scale(1.05);
}

/* FOOTER PRODUCTOS */

#footer-productos,
#footer-about {
  background-image: url(img/footer-general.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(48, 45, 45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-productos .container-1200,
#footer-about .container-1200 {
  margin-bottom: 20px;
}

#footer-productos .container-1200 h2,
#footer-about .container-1200 h2 {
  display: flex;
  margin: 150px auto 40px auto;
  justify-content: center;
  align-items: center;
  font-family: "Alata", sans-serif;
  color: var(--main-white);
  font-size: 3rem;
}

#footer-productos .container-1200 div:nth-child(2),
#footer-about .container-1200 div:nth-child(2),
#footer-home .container-1200 div:nth-child(2) {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Alata", sans-serif;
  margin-bottom: 20px;
}

#footer-productos .container-1200 div:nth-child(3),
#footer-about .container-1200 div:nth-child(3),
#footer-home .container-1200 div:nth-child(3) {
  display: inline;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  color: var(--main-white);
  font-family: "Alata", sans-serif;
  text-decoration: underline;
}

.instagram {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("img/instagram.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.whatsapp {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("img/whatsapp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("img/facebook.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.email {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("img/gmail.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: crimson;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

/*ABOUT*/

#header-about {
  background-image: url(img/header-about.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#header-about div {
  padding-bottom: 100px;
}

#container-about {
  background-color: #f4f1e9;
}

#sobre-nosotros {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 50px 0;
}

#sobre-nosotros figure {
  display: flex;
  justify-content: flex-end;
}

#sobre-nosotros div>h2 {
  display: inline-block;
  margin-bottom: 20px;
  color: #916563;
}

#sobre-nosotros>div {
  display: flex;
  flex-direction: column;
  font-family: "Alata", sans-serif;
  max-width: 40%;
}

#sobre-nosotros div p {
  align-items: baseline;
  color: #916563;
}

#specs,
#creadora {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Alata", sans-serif;
}

#specs div {
  display: flex;
  margin: 50px auto;
  justify-content: center;
  align-items: flex-start;
  max-width: 85%;
  gap: 60px;
}

#specs div h2 {
  color: #514e5d;
}

#specs div p {
  min-width: 400px;
}

#creadora h2 {
  margin-bottom: 20px;
  color: #514e5d;
}

#creadora .creadora-content {
  display: flex;
  gap: 60px;
  max-width: 600px;
  background-color: var(--main-white);
  border-radius: 20px;
  min-width: 100%;
  padding: 30px 0 0 50px;
  color: #916563;
}

#creadora .creadora-content div h3 {
  margin-bottom: 20px;
}

.elfsight-app-032e600b-f97a-4614-8bab-ca5511cf0332 {
  margin-top: 50px;
}