*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 16px;
}

body{
  font-family: "Roboto", sans-serif;
  color: rgb(48, 45, 45);
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;

}

.container-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

  /* Esto lo que hace es que la barra de navegacion este toda alineada con la imagen y los links esten del todo a la derecha*/
#main-header{
  background-image: url(img/banner-webfull.png);
  background-color: #79A9E9;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#main-header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-header h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
}

.main-menu > ul{
  display: flex;
  justify-content: center;

  li {
    list-style: none;
  }

  a{
    margin: 0.75rem;
    text-decoration: none;
    color: white;
  }
}

.title-links {
  margin: 20px;
}

/* para el degradado*/

.fondo-degradado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; 
  background-color: #F2F1F0; 
  transition: background-color 1.0s ease-in-out;
}

.section {
  height: 100vh; 
  background-color: transparent;
}

/* #banner-home {
  height: calc(100vh - 150px);
  align-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */

.sobre-nosotros {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

.sobre-nosotros > div {
  width: 391px;
  height: 221px;
  left: 691px;
  top: calc(50% - 221px/2 + 0.5px);
  margin-left: 90px;
}

.true {
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
}
